# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6629c8eedd227c768b81957786ddf13e2ffafb23021b35a5dfd284a52f55bf38d59bcd253e0d23946640b33cc8f0f0f88935eb0d2741309a30cbf8bde15863d0

test:
  secret_key_base: a1f57a3b7aa70178373f13cfe312bda0f389fe402171d0f6b0c67bf55744837f58aaf23a1b879f8ffb31ec7080d71ab39d351be56e409d9546b1aceb6426e04b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
